
/scripts/Ic-Fitting/SYM-2
/scripts/Ic-Fitting/EL30W40H-2
/scripts/Ic-Fitting/NbNotch-1
/scripts/Ic-Fitting/EA80W30H-1
/scripts/Ic-Fitting/20241128141343
/scripts/Ic-Fitting/20241128082314
*.dat
*.txt
